extends layout

block content
    div.add-message
        h1 Message Form

        form(action="/add-message" method="post")
            div.form-group
                label(for="user") Your Name:
                input(type="text" name="user" id="user" placeholder="Your Name" required maxlength="2000")

            div.form-group
                label(for="text") Your Message:
                textarea(name="text" id="text" placeholder="Your Message" required maxlength="2000" rows="4")

            input(type="hidden" name="added" value=added)

            div.form-group
                button(type="submit") Send Message
        button(type="button") 
            a(href="/") Return to Home
